matsurvparkfunctions/src/main/java/com/matsurvpark/functions/reservation/Reservations.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="https://www.matsurvpark.com/schema" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="https://www.matsurvpark.com/schema">
    
    <complexType name="Reservation">
        <annotation>
        	<documentation>Reservation structure (struc) for the Matsu RV Park. The reservation form is located at www.matsurvpark.com/reservations.html.</documentation>
        </annotation>
        <sequence minOccurs="1" maxOccurs="1">
        	
        	 <element name="confirmation_number" minOccurs="0" maxOccurs="1">
        <annotation>
        	<documentation>The confirmation number of the reservation. this number is generated by the function using the GUID/UUID function. This field is the primary key of the reservation and the sharepoint site list.</documentation>
        </annotation>
        <simpleType>
    		<restriction base="string">
    			<maxLength value="100"></maxLength>
    		</restriction>
    	</simpleType>
    </element>
    
    <element name="customer_name" minOccurs="1" maxOccurs="1">
        <annotation>
        	<documentation>customer's name field of the reservation form.</documentation>
        </annotation>
        <simpleType>
    		<restriction base="string">
    			<maxLength value="100"></maxLength>
    		</restriction>
    	</simpleType>
    </element>
    
    <element name="address" minOccurs="0" maxOccurs="1">
        <annotation>
        	<documentation>address field of the reservation form. not required.</documentation>
        </annotation>
        <simpleType>
    		<restriction base="string">
    			<maxLength value="100"></maxLength>
    		</restriction>
    	</simpleType>
    </element>
    
    <element name="address2" minOccurs="0" maxOccurs="1">
        <annotation>
        	<documentation>2nd address field for the reservation form. not required.</documentation>
        </annotation>
        <simpleType>
    		<restriction base="string">
    			<maxLength value="100"></maxLength>
    		</restriction>
    	</simpleType>
    </element>
    
    <element name="city" minOccurs="0" maxOccurs="1">
        <annotation>
        	<documentation>city field of the customer making the reservation. not required.</documentation>
        </annotation>
        <simpleType>
    		<restriction base="string">
    			<maxLength value="100"></maxLength>
    		</restriction>
    	</simpleType>
    </element>
    
    <element name="state" minOccurs="0" maxOccurs="1">
        <annotation>
        	<documentation>the state of the customer field in the reservation form. not required.</documentation>
        </annotation>
        <simpleType>
    		<restriction base="string">
    			<maxLength value="100"></maxLength>
    		</restriction>
    	</simpleType>
    </element>
    
    <element name="zip" minOccurs="0" maxOccurs="1">
        <annotation>
        	<documentation>The zip code of the customer field in the reservation form. not required.</documentation>
        </annotation>
        <simpleType>
    		<restriction base="string">
    			<maxLength value="15"></maxLength>
    		</restriction>
    	</simpleType>
    </element>
    
    <element name="rv_model" minOccurs="0" maxOccurs="1">
        <annotation>
        	<documentation>the length or type of RV that will be used in the reservation field of the reservation form.</documentation>
        </annotation>
        <simpleType>
    		<restriction base="string">
    			<maxLength value="100"></maxLength>
    		</restriction>
    	</simpleType>
    </element>
    
    <element name="number_of_persons" type="int" minOccurs="1" maxOccurs="1">
        <annotation>
        	<documentation>the number of customers that are staying field in the reservation form.</documentation>
        </annotation>
    </element>
    
    <element name="arrival_date" type="string" minOccurs="1" maxOccurs="1">
    	<annotation>
    		<documentation>the arrival date of the customer field. keeping as a string to keep the form simple.</documentation>
    	</annotation></element>

    <element name="departure_date" minOccurs="1" maxOccurs="1">
        <annotation>
        	<documentation>the departure date of the customer field in the reservation form.</documentation>
        </annotation>
        <simpleType>
    		<restriction base="string">
    			<maxLength value="100"></maxLength>
    		</restriction>
    	</simpleType>
    </element>
    
    <element name="creation_time" minOccurs="0" maxOccurs="1">
        <annotation>
        	<documentation>creation time of the reservation.</documentation>
        </annotation>
        <simpleType>
    		<restriction base="string">
    			<maxLength value="100"></maxLength>
    		</restriction>
    	</simpleType>
    </element>
    
    <element name="contact_email" minOccurs="0" maxOccurs="1">
        <annotation>
        	<documentation>contact's email address field of the reservation form. in case the RV Park Operators need to contact the customer for more details or other communications.

this is required if contact phone is empty/null.</documentation>
        </annotation>
        <simpleType>
    		<restriction base="string">
    			<maxLength value="100"></maxLength>
    		</restriction>
    	</simpleType>
    </element>
    
    <element name="contact_phone" minOccurs="0" maxOccurs="1">
        <annotation>
        	<documentation>contact's phone number field of the reservation form. in case the RV Park Operators need to contact the customer.

this is required if contact email is empty/null.</documentation>
        </annotation>
        <simpleType>
    		<restriction base="string">
    			<maxLength value="100"></maxLength>
    		</restriction>
    	</simpleType>
    </element>
    
    <element name="additional_information" minOccurs="0" maxOccurs="1">
        <annotation>
        	<documentation>additional information field for the reservation form. this captures any information that is not included in the standard form that needs to be communicated to the RV Park Operators.</documentation>
        </annotation>
        <simpleType>
    		<restriction base="string">
    			<maxLength value="1000"></maxLength>
    		</restriction>
    	</simpleType>
    </element>
    
    <element name="reservation_type" minOccurs="1" maxOccurs="1">
        <annotation>
        	<documentation>the type of reservation field of the reservation form. there are two {RV reservation &amp; Camping/Tent reservation}</documentation>
        </annotation>
        <simpleType>
    		<restriction base="string">
    			<enumeration value="RV Reservation"></enumeration>
    			<enumeration value="Camping Reservation"></enumeration>
    		</restriction>
    	</simpleType>
    </element>
        </sequence>
    </complexType>

    <element name="Reservation" type="tns:Reservation">
    	<annotation>
    		<documentation>Root Document of Reservation Request.</documentation>
    	</annotation></element>
</schema>